$main-text: #333333;
$primary: #7036BA;

body{
    box-sizing: border-box;
    background-color: $primary;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}


header#header-section{
    // border: 1px solid red;
    background: url('/img/gymHeader.jpg');
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    // min-width: 100%;}

    p{
        font-size: 24px;
    }

    .header-text{
        max-width: 540px;
    }
}

main{
    section{
        padding: 100px 0;
    }
}

section#about-section{
    h2{
        color: $main-text;
    }
    .row{
        gap: 30px;
    }
    .about-us-video{
        background: url('/img/aboutUs-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 324px;
        cursor: pointer;
    }
}
section#how-to-start-section{
    p{
        font-size: 18px;
    }
    span.start-numbers{
        font-size: 75px;
    }
    img.arrow{
        width: 30px;
    }
    .row{
        div p{
            font-size: 20px;
            font-weight: lighter;
        }
    }
}

section#features{
    h3{
        font-size: 20px;
    }

    .row{
        gap: 30px;
        img{
            width: 70px;
        }
        p{
            font-size: 16px;
        }
    }
    button{
        font-size: 25px;
        padding: 5px 40px;
    }
}

section#pricing{
    h3{
        font-size: 35px;
    }

    .row{
        & > div{
            padding: 15px 10px;

            button{
                padding: 10px 30px;
                border-radius: 50px;
                font-size: 20px;
            }
            span{
                font-size: 35px;
                font-weight: bold;
            }
        }
        div{
            border-radius: 5px;
        }
        
        ul li{
            font-size: 18px;
            line-height: 25px;
        }
    }
}


footer{
    padding: 50px 0;

    span.terms{
        font-size: 16px;
    }
    span.copy{
        font-size: 20px;
    }
}